
        <div class="login-page">
            <div class="form">
                    <p style="color : red">{{errorMessage}}</p>
                    <input #username type="text" id="name" placeholder="username" required/>
                    <input #password type="password" id="pass" placeholder="password"  required/>
                    <button (click)="signUp(username.value,password.value)">Create</button>
                    <p class="message">Already registered? <button (click)="goToSignIn()">Sign In</button></p>
                    <br>
                    
            </div>
        </div>
       