
        <div class="login-page">
            <div class="form">
            		<p style="color : red">{{errorMessage}}</p>
                    <input #username type="text" id="name" placeholder="username" required/>
                    <input #pass type="password" id="pass" placeholder="password"  required/>
                    <button (click)="login(username.value,pass.value)">login</button>
                    <p class="message">Not registered? <button (click)="goToRegister()">Create an account</button></p>
                    <br>
                    
            </div>
        </div>
      