<body>
<div id="frame">
	<div id="sidepanel">
		
	<div id="frame">
	<div id="sidepanel">
	

	
    <div id="contacts">
			<ul>
				<li *ngFor="let contact of contacts; index as i" class="contact" (click)="getMessagesOfContact(i)">
					
						<span class="contact-status online"></span>
					    <!--<img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />  -->	
						<div class="meta">
							<p class="name">{{contact.username}}</p>
					 	<!-- <p class="preview">You just got LITT up, Mike.</p> -->	
						</div>
					
				</li>
				
			</ul>
    </div>
	</div>	
	</div>
		<div id="bottom-bar">
			<button id="settings" (click)="logOut()"><span>LOGOUT</span></button>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<p>{{currentContact}}</p>
		</div>
		<div class="messages">
			<ul *ngFor="let message of messages" >
				<li *ngIf="message.sender_id!=myId"  class="sent">
					<p>{{message.body}}</p>
				</li>
				<li *ngIf="message.sender_id==myId"  class="replies">
					<p>{{message.body}}</p>
				</li>
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input #msg type="text" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit"(click)="sendMessage(msg.value); msg.value=''" >Send</button>
			</div>
		</div>
		
	</div>
	
	
	
</div>

</body>

